<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <div>
              <h3 class="card-title">Upload image</h3>
              <h6 class="card-subtitle">Upload image for project</h6>
            </div>
            <app-dropzone></app-dropzone>
          </div>
        </div>
      </mat-card-content>
      <button mat-button class="btn-floating waves-effect waves-light btn-large red" routerLink="store" aria-label="Add">
        <mat-icon class="material-icons">add</mat-icon>
      </button>
    </mat-card>
  </div>
</div>
