<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <ngx-datatable
              class="material mt-3"
              [columnMode]="'force'"
              [rows]="projects"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="50"
              (activate)="selectRow($event)"
              [sortType]="'multi'">
              <ngx-datatable-column prop="id" name="ID" [maxWidth]="30"></ngx-datatable-column>
              <ngx-datatable-column prop="title" name="Title"></ngx-datatable-column>
              <ngx-datatable-column prop="company" name="Company"></ngx-datatable-column>
              <ngx-datatable-column prop="url" name="Url"></ngx-datatable-column>
              <ngx-datatable-column name="Created at">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  Created at
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.createdAt | amFromUtc | amDateFormat: 'MMMM Do YYYY'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Realest date">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  Realest date
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.realestDate | amFromUtc | amDateFormat: 'MMMM Do YYYY'}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </mat-card-content>
      <button mat-button class="btn-floating waves-effect waves-light btn-large red" routerLink="/projects/store" aria-label="Add">
        <mat-icon class="material-icons">add</mat-icon>
      </button>
    </mat-card>
  </div>
  <!-- column -->
</div>
