<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <form [formGroup]="skillForm" novalidate>
              <div class="form-container">
                <mat-form-field>
                  <input matInput placeholder="Title skill" formControlName="title">
                  <app-form-error-message [field]="skillForm.controls.title"></app-form-error-message>
                </mat-form-field>
                </div>
              <div class="d-flex justify-content-end">
                <button mat-button color="accent" routerLink="/projects/skills">Back</button>
                <button mat-raised-button color="accent" (click)="update()">Save</button>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
