<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <div class="pb-2">
              <h3 class="card-title">Skill</h3>
              <h6 class="card-subtitle">Update {{skill.title}} skill</h6>
            </div>
            <form [formGroup]="skillForm" novalidate>
              <div class="form-container">
                <mat-form-field>
                  <input matInput placeholder="Title skill" formControlName="title">
                  <app-form-error-message [field]="skillForm.controls.title"></app-form-error-message>
                </mat-form-field>
                </div>
              <div class="d-flex justify-content-end">
                <button mat-button color="accent" routerLink="/projects/skills">Back</button>
                <button mat-raised-button color="accent" (click)="update()">Save</button>
              </div>
              <button mat-button class="btn-floating waves-effect waves-light btn-large red" (click)="delete()"
                      aria-label="delete_outline">
                <mat-icon class="material-icons">delete_outline</mat-icon>
              </button>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
