<div class="user-profile">
  <div class="profile-img"><img src="../../../../../../assets/images/users/profile.png" alt="user"></div>
  <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Alex Clare <i
    class="ti-angle-down font-12 m-l-5"></i></a></div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>
</div>
<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink  routerLinkActive="selected">
    <a class="" appAccordionToggle [routerLink]="['/index']">
      <mat-icon>crop_7_5</mat-icon>
      <span>Index</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
  <mat-list-item appAccordionLink  routerLinkActive="selected">
    <a class="" appAccordionToggle [routerLink]="['/projects']">
      <mat-icon>crop_7_5</mat-icon>
      <span>Projects</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
  <mat-list-item appAccordionLink  routerLinkActive="selected">
    <a class="" appAccordionToggle [routerLink]="['/projects/skills']">
      <mat-icon>crop_7_5</mat-icon>
      <span>Project Skills</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
  <mat-list-item appAccordionLink  routerLinkActive="selected">
    <a class="" appAccordionToggle [routerLink]="['/projects/categories']">
      <mat-icon>crop_7_5</mat-icon>
      <span>Project Categories</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
</mat-nav-list>
